# Cloud SQL proxy & credentials
scripts/cloud-sql-proxy/
*.json
*.pem
*.p12
HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### System and Cache Files ###
Backups/
Cache/
CachedConfigurations/
CachedData/
CachedProfilesData/
Code Cache/
Crashpad/
DIPS
DawnGraphiteCache/
DawnWebGPUCache/
GPUCache/
Local State
Local Storage/
Network/
Preferences
Session Storage/
Shared Dictionary/
User/
languagepacks.json
logs/
machineid
*.log
*.tmp
hs_err_pid*.log

# Local environment overrides
.env

# Document files
*.doc
*.docx
/screenshots
